<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cateogaries</title>
</head>
<body>
    <%- include("./partial/navbar")  %>

    <section class="container3">
        <a href="#" id="link"> <img
                src="https://cdn.pixabay.com/photo/2016/11/19/21/37/fruit-basket-1841317_960_720.jpg">
            <div class="caption">FRUITS</div>
        </a>

        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2016/10/25/13/16/pumpkin-1768857_960_720.jpg">
            <div class="caption">VEGETABLES</div>
        </a>
        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2019/04/02/04/32/masala-4096891_960_720.jpg">
            <div class="caption">MASALA</div>
        </a>
        <a href="#" id="link"> <img
                src="https://media.istockphoto.com/photos/bread-bag-packaging-with-sliced-bread-inside-illustration-picture-id1208882100?s=612x612">
            <div class="caption">BREAKFAST</div>
        </a>
        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2018/03/21/23/21/nuts-3248743_960_720.jpg">
            <div class="caption">DRY FRUITS</div>
        </a>
    </section>
    <section class="container3">
        <a href="#" id="link"> <img
                src="https://rukminim1.flixcart.com/image/416/416/kij6f0w0-0/cookie-biscuit/j/k/e/399-peanut-butter-chocolate-cream-flavoured-sandwich-cookies-original-imafyaynnyf82uhq.jpeg?q=70">
            <div class="caption">Baker & Biscuits</div>
        </a>

        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2014/09/26/19/51/drink-462776_960_720.jpg">
            <div class="caption">Cold drinks &juice</div>
        </a>
        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2015/09/16/20/10/dough-943245_960_720.jpg">
            <div class="caption">Flour/Atta</div>
        </a>
        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2017/05/08/04/33/rice-2294365_960_720.jpg">
            <div class="caption">Rice</div>
        </a>
        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2013/07/25/12/03/chana-166987_960_720.jpg">
            <div class="caption">Daal</div>
        </a>
    </section>
    <section class="container3">
        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2017/09/04/18/39/coffee-2714970_960_720.jpg">
            <div class="caption">Tea/Coffee</div>
        </a>

        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2019/04/28/21/43/cocktail-4164492_960_720.jpg">
            <div class="caption">Juices</div>
        </a>
        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2015/09/09/19/57/cleaning-932936_960_720.jpg">
            <div class="caption">Cleaning essential</div>
        </a>
        <a href="#" id="link"> <img src="https://cdn.pixabay.com/photo/2020/07/02/16/33/alcohol-5363566_960_720.png">
            <div class="caption">Handwash</div>
        </a>
        <a href="#" id="link"> <img
                src="https://cdn.pixabay.com/photo/2022/01/18/08/42/raw-chicken-6946604_960_720.jpg">
            <div class="caption">Meat</div>
        </a>
    </section></div>

</body>
</html>