<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin form</title>

    
</head>
<body>
    <fieldset >
    <h1 >Cateogaries form</h1>
</fieldset>
    <h2>Details</h2>
    <p class="bor" >Name: <input type="text" name="name" id="name"</p>
    <p class="bor" >Price <input type="text" name="price" id="price"</p>
    <p class="bor" >Pictures <input type="file" name="pictures" id="pictures"</p>
    <div>
        <textarea cols="72" rows="11"> </textarea>
    </div>

</body>
</html>