<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/serviceCss.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Services</title>
</head>

<body>
    <%- include("./partial/navbar")  %> 
    <!-- to include file(here we include navbar) -->
    <div class="header">
        <h1 id="hed">Our services</h1>
    </div>
    <div class="grid">
        <div id="item1"> <h3>" We are happy to  serve you with  our top-most priority and with world class services option " </h3></div>
   
          <div class="item"> <a href="#" id="link"> <img
            src="https://ourstorypub.com/backend/frontend/images/6.png">
        <div class="caption">Party-booking</div>
    </a></div>
          <div class="item"> <a href="#" id="link"> <img
            src="https://c8.alamy.com/comp/2BN334H/home-cleaning-service-logo-2BN334H.jpg">
        <div class="caption">Home-services</div>
    </a></div>
          <div class="item"> <a href="#" id="link"> <img
            src="https://www.dotcominfoway.com/wp-content/uploads/2020/05/on-demand-delivery-mobile-app-development-services.png">
        <div class="caption">On demand-delivery</div>
    </a></div>

    
        
       </div>
    
</body>
</html>