     
    <div class="logo">
           
        <div class="byttn"> <button id="a" onclick="togglehide()">Menu</button> </div>

        
        <img src="https://cdn.pixabay.com/photo/2018/03/14/12/53/shopping-3225130_960_720.png">
        <h1>A to Z GROCERY</h1>
        <img src="https://cdn.pixabay.com/photo/2019/04/10/12/34/fruit-seller-4117006_960_720.png">
          </div>
    

    <div class="container2">
        <nav id="nave">
            <ul class="nav">
                
                <li class="li"><a href='/'>Home</a></li>
                <li class="li"><a href='/catogaries'>Catogeries</a></li>
                <li class="li"><a href='/services' >Services</a></li>
                <li class="li"><a href='/contact' >Contact-us</a></li>

                <div class="search"> <input type="text" name="search" id="search" placeholder="Serach here"> <button
                        id="bun"><a id="s" href="#" target="blank">Search</a></button></div>
            </ul>
        </nav>
    </div>
